.page {
	margin: 3rem 2rem;
	border-radius: 15px;
	background: #f1f1f1;
	padding: 2rem;
	height: auto;
	min-height: 75vh;
	flex: 1;
}

@media screen and (max-width: 900px) {
	.page {
		margin: 2rem 1rem;
		padding: 1rem;
	}
}